
.App{
  background-color: #1a263f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-flow: column;
  border: 1px dashed whitesmoke;
  padding: 1rem;
position: relative;
overflow: hidden;
}
form input {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  z-index: 3;
  top: -38px;
  background-color: transparent;
}
form i {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  color: #fff;
  font-size: 7rem;
  z-index: 2;
}
form input:hover  form i {
  color: #bb6414;
  
}
form button {
  border: none;
  background: #202e4d;
  color: #fff;
  font-size: 1.5rem;
  padding: .5rem;
}
form button:disabled {
  background: #a0a0a0;
  font-size: 1.5rem;
}
form button:disabled:hover {
  cursor: not-allowed;
}
form button:not(:disabled):hover {
  color: #bb6414 ;
  cursor: pointer;
}