.App {
  background-color: #1a263f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-flow: column;
  border: 1px dashed whitesmoke;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}
form input {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  z-index: 3;
  top: -38px;
  background-color: transparent;
}
form input:hover form i {
  color: #bb6414;
}
form button {
  border: none;
  background: #202e4d;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
}
form button:disabled {
  background: #a0a0a0;
  font-size: 1.5rem;
}
form button:disabled:hover {
  cursor: not-allowed;
}
form button:not(:disabled):hover {
  color: #bb6414;
  cursor: pointer;
}
select {
  font-size: 1.25rem;
  padding: 0.5rem;
  border: 1px solid #ababab;
  border: none;
  border-bottom:1px solid #d6d6d6;
}
select:active,
select:focus {
  outline: none;
}
select:active,
select:focus {
  border-bottom:1px solid #1a263f;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}