:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --primary-color: #0b91eb;
  --primary-alt-color:#195bbd;
  --secondary-color: #f800f4;
  --font-color-white:#ffffff;
  --font-color-black:#000000;
  --bg-color-white:#ffffff;
  --bg-color-black:#000000;
  --bg-color-dark-gray:#44444493;
  --border-color-dark:#dddddd;
  --shadow-color:#00000080;
  --warning-color: #f1b618;
  --info-color: #0288d1;
  --success-color: #4caf50;
  --gap:24px;
  --border-radius:4px;
  font-size: 14px;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
}
@media screen and (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}
/* @media screen and (min-width: 960px) {
  :root {
    font-size: 18px;
  }
} */
@media screen and (min-width: 1320px) {
  :root {
    font-size: 18px;
  }
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}
.show--flex {
  display: flex!important;
}
