.icon--fav,.icon--download {
  background-color: #ffffffe6;
  border: 1px solid #0000;
  box-shadow: 0 1px 2px #0000000f;
  color: #767676;
  border-radius: var(--border-radius);
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50px);
  transition: all .2s ease-in;

}
.img-item {
  transition: background-color .2s ease-in;
}
.icon--fav:hover i.la-heart,.icon--download:hover i.la-download {
  color: #121212;
  
}
.img-item:hover .img-figures {
  background-color: rgba(88, 88, 88, 0.445);
  cursor: zoom-in;
}
.img-item:hover .icon--fav,
.img-item:hover .icon--download {
  transform: translateX(0);
}