header {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-logo > svg {
  max-height: 48px;
  width: auto;
}
picture img.logo {
  max-height: 64px;
  width: auto;
}
header .search-input-container {
  max-width: 300px;
}
/* .search-filter {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}
.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  font-size: 1.5rem;
  transform: translateY(-50%);
  color: #bdbdbd;
} */

@media screen and (min-width: 720px) {
  header .search-input-container {
    max-width: 600px;
  }
  /* .search-filter {
    max-width: 400px;
    margin-top: 0;
  } */
}
