.nav {
  background-color: var(--bg-color-white);
  border-top: 1px solid var(--border-color-dark);
  padding: 0;
  padding-right: 28px;
  position: relative;
}
.nav-ul {
  display: flex;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
}
.nav-li {
  padding: 0;
  position: relative;
  z-index: 999;
  transition: all 0.5s ease-in;
}
.nav-li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1%;

  height: 100%;
  background-color: var(--primary-color);
  z-index: 11;
  transform: skewX(-30deg);

  transition: all 0.3s ease-in;
}
.nav-link {
  text-decoration: none;
  height: 100%;
  color: var(--font-color-black) !important;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: transparent !important;
  margin: 0 0.25rem;
  line-height: 1;
  position: relative;
  z-index: 12;
  transition: color 0.2s ease;
}
.nav-link:hover {
  text-decoration: none;
  color: var(--font-color-white) !important;
}
.nav-link--selected {
  background-color: var(--bg-color-black);
}
.nav-li:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color) !important;
  border: none;
  transform: skewX(-30deg);
  transition: all 0.35s ease-in;
}
.right-arrow,
.left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-color-white);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 28px;
  opacity: 0.2;
}

.right-arrow > i,
.left-arrow > i {
  color: var(--font-color-black);
  font-size: 1.25rem;
  text-align: center;
}
.right-arrow:hover,
.left-arrow:hover {
  opacity: 1;
  cursor: pointer;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}
@media screen and (min-width: 860px) {
  .right-arrow,
  .left-arrow {
    display: none;
  }
}
