.nav {
  background-color: #fff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: .5rem 0;
}
.nav-ul {
  display: flex;
  list-style: none;
  margin: 0;
}
.nav-li {
  padding: 0;
}
.nav-link {
  text-decoration: none;
  height: 100%;
  color: #000;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #bdbdbd;
  background-color: #f9f9f9;
  border-radius: 50px;
  margin:0 .25rem;
  line-height: 1;
}
.nav-link:hover {
  text-decoration: none;
  background-color: rgb(192, 192, 192);
}
.nav-link--selected {
  background-color: #000;
}