.post-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  background-color: transparent; 
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;

  width:150px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
  z-index: 10;

  transition: all 0.5s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.post-upload-icon {
  width: 28px;
  height: auto;
}
.post-icon {
  background-color: rgb(11, 145, 235);
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transition: all 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.post-text {
  position: absolute;
  left: 50px;
  width: 100px;
  height: 100%;
  background-color: rgb(25, 91, 189);
  transition: all 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-button:hover .post-text {
  left: 150px;
}
.post-button:hover .post-icon {
  left: 0;
  background-color: rgb(11, 145, 235);
  width: 100%;
}
.open-state-text {
  left: 150px;
}
.open-state-icon {
  left: 0;
  background-color: rgb(11, 145, 235);
  width: 100%;
}